@page "/"
<style>
	.container{
		margin: 20px auto;
		max-width: 800px;
	}
	.center {
		width: fit-content;
		margin: auto;
	}
	.image {
		border-radius: 50%;
		width: 200px;
		margin-bottom: 30px;
	}
	.flex {
		margin: 10px 20px;
		display: flex;
		justify-content: space-around;
	}
	.button {
		margin-top: 50px;
		width: 150px;
		height: 50px;
		border-radius: 8px;
		text-align: center;
		background: black;
		display: flex;
		align-items: center;
		justify-content: center;
		transition-duration: 0.4s;
	}

	.github {
		color: white;
		background: black;
	}

	.linkedin {
		color: white;
		background: #0077b5;
	}

	.github:hover {
		background-color: #6F6F6F;
	}

	.linkedin:hover {
		background: #004469;
	}

</style>

<div class="container">
	<div class="center">
		<img src="https://media.licdn.com/dms/image/v2/D4D03AQGRjsoRgWvUmg/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1681502674926?e=1749081600&v=beta&t=SorCT2XeL523JpD9xd4ro7Lj-uIHS0DwgHsdMJ5j-OI" class="image " alt="Alternate Text" />
	</div>
	<div class="bio-container">
		<p>Olá, eu sou o Yan Mendonça Coutinho! 🖖🏻</p>

			<p>Sou apaixonado por resolver problemas reais e impactar a vida das pessoas, descobri na tecnologia meu meio para aplicar minha paixão! Ao longo da minha experiência acadêmica e profissional, percebi a importância de alinhar as necessidades humanas com as técnicas para criar a melhor solução.</p>

			<p>Além disso, adoro participar de competições, como hackathons e olimpíadas. Com isso, ganhei 2 hackathons de blockchain e sou medalhista na OBR 2022. Por fim, atualmente estou:</p>
			<ul>
			<li>📘 Cursando o Sistemas da Informação no Inteli.</li>
			<li>🕵️‍ Procurando saber mais sobre programação em meu tempo livre.</li>
			<li>🖥️ Trabalhando em algum projeto pessoal para fixar o meu conhecimento.</li>
		</ul>
	</div>
	<div class="buttons flex">
		<a href="https://www.linkedin.com/in/yan-m-coutinho/" class="button linkedin">Linkedin</a>
		<a href="https://github.com/YanMCoutinho" class="button github">Github</a>
	</div>

</div>